:root {
    --clr-primary-200: #F7CE65;
    --clr-primary-500: #930C10;
    --clr-primary-800: #290000;
    --clr-primary-100: #fffebd;

    --clr-neutral-000: #ffffff;
    --clr-neutral-900: #030303;

    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
    background-color: var(--clr-primary-200);
}

body,
h1,
h2
h3,
p {
    margin: 0;
}

h1.
h2,
h3 {
    color: var(--clr-primary-200);
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
}

h2,
h3,
p {
    margin-bottom: 1em;}

img {
    display: block;
    max-width: 100%;
}


.text-center {
    text-align: center;
}

header,
section {
    padding: 4rem 0;
}

@media (min-width: 40em) {
    header,
    section {
    padding: 7rem 0;
}
}

.container {
    margin-inline: auto;
    width: min(90%, 70.5rem);
}



.container--narrow {
    max-width: 35rem;
}

.bg-light {
    background-color: var(--clr-primary-200);
}

.bg-dark {
    color: var(--clr-neutral-000);
    background-color: var(--clr-primary-800);
}

.bg-primary {
    color: var(--clr-neutral-000);
    background-color: var(--clr-primary-500)
}

.bg-primary h2,
.bg-dark h2 {
    color: var(--clr-primary-200)
}

.split {
    display: flex;
    flex-direction: column;
}

@media (min-width: 40em) {
    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }

    .split > * + * {
        margin-left: 2em;
    }
}


.call-to-action {
    background-color: var(--clr-primary-500);
    text-align: center;
    padding: 2rem 0;
}

.call-to-action-delete {
    background-color: var(--clr-primary-500);
    text-align: center;
    padding: 2rem 1rem;
    margin: 1rem;
    margin-top: 58%;
}

.two-column {
    display: grid;
    grid-template-columns: 50% 50%;
}

.card1 {
    grid-row: 1 / 2;
}

.card2 {
    grid-row: 1 / 2;
}

.call-to-action-add-spell {
    background-color: var(--clr-primary-500);
    text-align: center;
    padding: 0.5rem 0;
    margin-top: 0.5rem;
    border-radius: 4px;
}

.button-cta {
    color: var(--clr-primary-200);
    background-color: var(--clr-primary-500);
    font-size: 2rem;
    border: none;
    padding: 1rem;
}

.button-cta:hover {
    background-color: var(--clr-primary-200);
    color: var(--clr-primary-500);
}

.testing {
    background-color: var(--clr-primary-500);
}



.spell-view { 
    text-align: left;
    display: inline-block;
}

.spell-result-primary {
    text-indent: 1em;
    background-color: var(--clr-primary-200);
}

a {
    text-decoration: underline;
    color: var(--clr-primary-200);
}
a:hover {
    text-decoration: none;
    color: hotpink;
}

.spell-header {
    text-align: center;
    font-family: var(--ff-accent);
    font-size: 2em;
    background-color: #290000;
    color: var(--clr-primary-100);
}

.spell-data {
    font-family: var(--ff-primary);
    padding: 0.5em;
    color: var(--clr-primary-800);
    padding-right: 10px;
    background-color: var(--clr-primary-200);
}

* {
	border-spacing: 0;
}

.return {
    text-align: left;
    text-indent: 1em;
    color: var(--clr-neutral-900);
    text-decoration: none;
    display: inline-block;
}



.call-to-action-inverse-colour {
    background-color: var(--clr-primary-200);
    text-align: center;
    padding: 2rem 0;
}

.call-to-action-inverse-colour-two-column {
    columns: 2;
    background-color: var(--clr-primary-200);
    text-align: center;
    padding: 2rem 0;
}

.button-cta-inverse-colour {
    color: var(--clr-primary-500);
    background-color: var(--clr-primary-200);
    font-size: 2rem;
    border: none;
    padding: 1rem;
}

.button-cta-inverse-colour:hover {
    background-color: var(--clr-primary-500);
    color: var(--clr-primary-200);
}

.add-spell {
    margin-left: 25px;
}

.spell-input {
    margin: auto;
    width: 50%;   
    text-align: center;
}

input[type=text], select {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    display: block;
    border: 1px solid var(--clr-primary-500);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--clr-primary-200);
    background-color: var(--clr-primary-500);
}
  

.button-submit {
    margin: 10px;
    background-color: var(--clr-primary-500);
    color: var(--clr-primary-200);
    padding: 5px 40px;
}

::placeholder {
    color: var(--clr-primary-200);
}

.light {
    color: var(--clr-primary-200);
}
